h1 {
    color: #4169e1;
    text-align: center;
    margin-top: -875px;

}

p {
    color: white;
    margin-left: 250px;

}

.lists {
    color: white;
    margin-left: 250px;
}

body {
    background-color: black;

}

header {
    background-color: white;
    margin-bottom: -25px;
    padding-bottom: 15px;
}

aside {
    background-color: blue;
    width: 225px;
    margin-top: 25px;
    padding-bottom: 850px;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul2 {
    list-style-type: disc;
}


a {
    color: red;

}

a:hover {
    color: aqua;
}

.asidep {
    margin-left: 0%;
}

#marked {
    background-color: blueviolet
}

#testimg {
    margin-left: 250px;
}

nav {
    font-size: 30px;
}

.navli1,
.navli2,
.navli3,
.navli4,
.navli5 {
    display: inline;
}

ol {
    color: white;
    margin-left: 250px;
}