h1 {
    color: #4169e1;
    text-align: center;
    margin-top: -875px;

}

p {
    color:chartreuse;
    margin-left: 250px;

}

.lists {
    color: chartreuse;
    margin-left: 250px;
}

body {
    background-color: black;
    background-image: url(pictures/undertale.gif);
    background-repeat: no-repeat;
    background-size: 1250px;
}



header {
    background-color: black;
    margin-bottom: -25px;
    padding-bottom: 17px;
}

aside {
    background-color: transparent;
    width: 225px;
    margin-top: 25px;
    padding-bottom: 850px;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul2 {
    list-style-type: disc;
}


a {
    color: red;

}

a:hover {
    color: aqua;
}

.asidep {
    margin-left: 0%;
}

#marked {
    background-color: white;
}

#testimg {
    margin-left: 250px;
}

nav {
    font-size: 30px;
    position: fixed;
    background-color: black;
    width: 100%;
}

.navli1,
.navli2,
.navli3,
.navli4,
.navli5 {
    display: inline;
}

ol {
    color: chartreuse;
    margin-left: 250px;
}